@{
    ViewData["Title"] = "Tổng quan - KTX DNTU";
}


<main>
    <nav id="sidebar">
        <ul class="nav-list">
            <li><a href="Bangtin.html">Bảng tin</a></li>
            <li><a href="Thongbao.html">Thông báo</a></li>
            <li><a href="Quydinh.html">Quy định</a></li>
            <li><a href="Dangki.html">Đăng kí</a></li>
            <li><a href="Bomaytochuc.html">Bộ máy tổ chức</a></li>
            <li><a href="Lienhe.html">Liên hệ</a></li>
            <li><a href="Gioithieu.html">Giới thiệu</a></li>
        </ul>
    </nav>
    <section>
        <div id="tongquan">
        </div>
        <div id="lich">
            <h1>Lịch</h1>
            <input type="datetime-local">
        </div>
    </section>
</main>