<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cổng Thông Tin Sinh Viên - DNTU</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <img src="img/dntulogo.png" style="width: 4%; padding: 0.5%;" alt="">
        <h1>HỆ THỐNG QUẢN LÝ KÍ TÚC XÁ - TRƯỜNG ĐẠI HỌC CÔNG NGHỆ ĐỒNG NAI</h1>
    </header>
    <main>
        <nav id="sidebar">
                <ul class="nav-list">
                    <li><a href="Bangtin.html">Bảng tin</a></li>
                    <li><a href="Thongbao.html">Thông báo</a></li>
                    <li><a href="Quydinh.html">Quy định</a></li>
                    <li><a href="Dangki.html">Đăng kí</a></li>
                    <li><a href="Bomaytochuc.html">Bộ máy tổ chức</a></li>
                    <li><a href="Lienhe.html">Liên hệ</a></li>
                    <li><a href="Gioithieu.html">Giới thiệu</a></li>
                </ul>
        </nav>
    </main>
        <!-- Sidebar -->
        

        <!-- Main content -->

    </div>
    <script src="main.js"></script>

</body>
</html>
