@{
    ViewData["Title"] = "Trang chủ - KTX DNTU";
}
<nav id="sidebar">
    <ul class="nav-list">
        <li><a asp-controller="Bangtin">Bảng tin</a></li>
        <li><a asp-controller="Thongbao">Thông báo</a></li>
        <li><a asp-controller="Quydinh">Quy định</a></li>
        <li><a asp-controller="Dangkyphong">Đăng ký phòng</a></li>
        <li><a asp-controller="Bomaytochuc">Bộ máy tổ chức</a></li>
        <li><a asp-controller="Lienhe">Liên hệ</a></li>
        <li><a asp-controller="Gioithieu">Giới thiệu</a></li>
    </ul>
</nav>
