@{
    ViewData["Title"] = "Quy đinh - KTX DNTU";
}

<nav id="sidebar">
    <ul class="nav-list">
        <li><a asp-controller="Bangtin">Bảng tin</a></li>
        <li><a asp-controller="Thongbao">Thông báo</a></li>
        <li><a asp-controller="Quydinh">Quy định</a></li>
        <li><a asp-controller="Dangkyphong">Đăng ký phòng</a></li>
        <li><a asp-controller="Bomaytochuc">Bộ máy tổ chức</a></li>
        <li><a asp-controller="Lienhe">Liên hệ</a></li>
        <li><a asp-controller="Gioithieu">Giới thiệu</a></li>
    </ul>
</nav>
<section>
    <table>
        <tbody>
            <tr>
                <th>STT</th>
                <th>Nội dung vi phạm</th>
                <th colspan="2">Múc độ xử lý</th>
                <th>Ghi chú</th>

            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Cảnh cáo</th>
                <th>Cấm ở ký túc xá</th>
                <th></th>
            </tr>
            <tr>
                <th>1</th>
                <th>Làm hỏng tài sản ký túc xá</th>
                <th></th>
                <th></th>
                <th>Tuỳ theo mức độ vi phạm, xử lý từ khiển trách đến buộc thôi học và phải bồi thường thiệt hại</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Di chuyển tài sản ký túc xá trái với quy định</th>
                <th>1 - 2 lần</th>
                <th></th>
                <th>Trả về vị trí cũ</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Trộm cắp trong ký túc xá</th>
                <th>1 lần</th>
                <th>Có khả năng</th>
                <th>Lập biên bản và tuỳ vào giá trị tài sản sẽ buộc bòi thường và rời khỏi ký túc xá</th>
            </tr>
            <tr>
                <th>4</th>
                <th>Gây mất trật tự</th>
                <th>1 lần</th>
                <th></th>
                <th>Tuỳ tình hình mà sẽ có kỷ luật phù hợp</th>
            </tr>
            <tr>
                <th>5</th>
                <th>Cờ bạc trong ký túc xá</th>
                <th></th>
                <th></th>
                <th>Lập biên bản và thông báo về địa phương, gia đình. Buộc thôi ở ký túc xá</th>
            </tr>
            <tr>
                <th>6</th>
                <th>Đánh nhau gây thương tích</th>
                <th></th>
                <th></th>
                <th>Lập biên bản và thông báo về địa phương, gia đình. Buộc thôi học</th>
            </tr>
            <tr>
                <th>7</th>
                <th>Tàng trữ vật cấm, chất cấm</th>
                <th></th>
                <th></th>
                <th>Lập biên bản và thông báo về địa phương, gia đình. Buộc thôi học</th>
            </tr>
            <tr>
                <th>8</th>
                <th>Sử dụng vật phẩm dễ gây cháy nổ</th>
                <th>1 lần</th>
                <th>Có khả năng</th>
                <th>Xử lí theo quy định và lập biên bản</th>
            </tr>
            <tr>
                <th>9</th>
                <th>Quá hạn đóng nội trú</th>
                <th>1 lần</th>
                <th>Hạn 1 tháng</th>
                <th>Thông báo gia đình và buộc thôi ở nếu không giải quyết</th>
            </tr>
            <tr>
                <th>10</th>
                <th>Xâm phạm tình dục</th>
                <th></th>
                <th></th>
                <th>Thông báo gia đình và buộc thôi học</th>
            </tr>
        </tbody>
    </table>
</section>