<!DOCTYPE html>
<html lang="vi">

<body>
    <div class="container">
        <div class="logo">
            <img src="~/img/dntulogo.png" alt="DNTU Logo">
            <h1>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ ĐỒNG NAI</h1>
            <h2>DONG NAI TECHNOLOGY UNIVERSITY</h2>
            <h3><b>DIGITAL SCHOOL</b></h3>
            <p><b>Ký túc xá Sinh viên</b></p>
        </div>
        <div class="login-form">
            <h3>ĐĂNG NHẬP</h3>
            <hr>
            <form id="loginForm">
                <input type="text" id="username" placeholder="Tên đăng nhập" required>
                <input type="password" id="password" placeholder="Mật khẩu" required>
                <div class="forgot-password">
                    <a href="#">Bạn quên mật khẩu?</a>
                    <a href="#">Hướng dẫn quên mật khẩu? <span>Xem hướng dẫn</span></a>
                </div>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>
    <script src="~/js/main.js"></script>
</body>

</html>