@{
    ViewData["Title"] = "Bảng tin - KTX DNTU";
}

<nav id="sidebar">
    <ul class="nav-list">
        <li><a asp-controller="Bangtin">Bảng tin</a></li>
        <li><a asp-controller="Thongbao">Thông báo</a></li>
        <li><a asp-controller="Quydinh">Quy định</a></li>
        <li><a asp-controller="Dangkyphong">Đăng ký phòng</a></li>
        <li><a asp-controller="Bomaytochuc">Bộ máy tổ chức</a></li>
        <li><a asp-controller="Lienhe">Liên hệ</a></li>
        <li><a asp-controller="Gioithieu">Giới thiệu</a></li>
    </ul>
</nav>

<article style="width: 100%;">
    <div id="feed">
        <div id="date">
            <div id="day"><p>10</p></div>
            <div id="month-year"><p>2/2022</p></div>
        </div>
        <div id="feed-content"><p style="margin-left: 5%; font-size: x-large;">Thông báo về việc đăng ký gia hạn lưu trú Ký túc xá năm học 2021-2022  (10/02/2022)</p></div>
    </div>
</article>