@{
    ViewData["Title"] = "Giới thiệu - KTX DNTU";
}

<nav id="sidebar">
    <ul class="nav-list">
        <li><a asp-controller="Bangtin">Bảng tin</a></li>
        <li><a asp-controller="Thongbao">Thông báo</a></li>
        <li><a asp-controller="Quydinh">Quy định</a></li>
        <li><a asp-controller="Dangkyphong">Đăng ký phòng</a></li>
        <li><a asp-controller="Bomaytochuc">Bộ máy tổ chức</a></li>
        <li><a asp-controller="Lienhe">Liên hệ</a></li>
        <li><a asp-controller="Gioithieu">Giới thiệu</a></li>
    </ul>
</nav>
<section>
    <article style="width: 100%;">
        <h1>Ký túc xá Trường Đại học Công Nghệ Đồng Nai.</h1>
        <ul>
            <li>Địa chỉ: Số 206, Nguyễn Khuyến, Khu phố 5, Phường Trảng Dài, TP. Biên Hòa, tỉnh Đồng Nai.</li>
            <li>Thành lập: 16/6/2011 trên cơ sở nâng cấp Trường Cao đẳng Kỹ thuật - Công nghệ Đồng Nai</li>
            <li>Quy mô: ký túc xá có 5 tầng gồm có 80 phòng, tầng trệt là căn tin.</li>
        </ul>
        <h1>Các loại, giá phòng, điện, nước ?</h1>
        <ul>
            <li>
                Tầng 1 (D2): gồm 20 phòng dành cho Nữ sinh (mỗi phòng sắp xếp 07 sinh viên)
            </li>
            <li>
                Tầng 2 (D3): gồm 20 phòng dành cho Nữ sinh (mỗi phòng sắp xếp 07 sinh viên)
            </li>
            <li>
                Tầng 3 (D4): gồm 20 phòng dành cho Nam sinh (mỗi phòng sắp xếp 07 sinh viên)
            </li>
            <li>
                Tầng 4 (D5): gồm 20 phòng dành cho Nam sinh (mỗi phòng sắp xếp 07 sinh viên)
            </li>
            <li>
                =&gt; Chi phí tiết kiệm: 400k/tháng, 7 sinh viên/phòng (1 sinh viên sẽ có: 1 tủ áo, 1 bàn học, 1 giường); toilet trong phòng
            </li>
            <li>
                =&gt; Chi phí điện – nước: 3.000đ/kí đối với điện, 10.000đ/khối đối với nước.
            </li>

        </ul>
        <h1>Một số quy định cần biết khi ở ký túc xá :</h1>
        <p><a asp-controller="Quydinh">Xem ở đây</a></p>
        <h1>Về Quản Lí Tổ Chức Hoạt Động:</h1>
        <p><a asp-controller="Bomaytochuc">Xem ở đây</a></p>
        <h1><a asp-controller="Lienhe">Liên hệ</a></h1>
    </article>
</section>